<div class="row">
  <form class="form-inline" (ngSubmit)="addConference()">
    <input [(ngModel)]="newConference" type="text" class="form-control" placeholder="Name" size="40" />
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

<div class="row">
  <div class="col-md-4">
    <div *ngFor="#c of conferences" class="conf clickable" (click)="clickOnConf(c)">
        {{c.name}}
    </div>
  </div>
  <div class="col-md-8">
    <div class="conf conf-detail" *ngIf="currentConf">
      <h4>{{currentConf.name}}</h4>
      <h5>Attendees ({{currentConf.people._count}})</h5>

      <ul class="attendees-container">
        <li *ngFor="#p of currentConf.people.entities">
          <img src="{{p.profilePicture.uri || '/img/avatar-default.png'}}" />
          <span>{{p.name}}</span>
        </li>  
      </ul>
    </div>
  </div>
</div>