:host {
  
  $bgColor: #FAFAFA;
  
  .people {
    border: 1px solid #acacac;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: $bgColor;
    color: black; 
  }
  
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    background: darken($bgColor, 10%);
  }
  
  .people-detail {
    text-align: left;
    min-height: 265px;
    
    h4 {
      text-align: center;
    }
  }
  
  ul {
    margin-bottom: 40px;
  }
  
  .avatar-block {
    float: right;
    font-size: 0.8em;
    
    img {
      display: block;
      max-width: 200px;
      max-height: 200px;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}