<h2>People list</h2>

<div class="row">
  <form class="form-inline" (ngSubmit)="addPeople()">
    <input [(ngModel)]="newPerson" type="text" class="form-control" placeholder="Name" size="40" />
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

<div class="row">
  <div class="col-md-4">
    <div *ngFor="#p of peopleList" class="people clickable" (click)="clickOnPeople(p)">
        {{p.name}}
    </div>
  </div>
  <div class="col-md-8">
    <div class="people people-detail" *ngIf="currentPeople">
      <h4>{{currentPeople.name}}</h4>
      <h5>Attendances ({{currentPeople.conferences._count}}):</h5>
      <ul>
        <li *ngFor="#c of currentPeople.conferences.entities">
          {{c.name}}
        </li>  
      </ul>
      
      <h5>Register to a conference</h5>
      <form class="form-inline" (ngSubmit)="registerToConference()">
        <select [(ngModel)]="currentPeopleConfToRegister" class="form-control">
          <option *ngFor="#c of currentPeopleAvailableConf" [value]="c">{{c.name}}</option>
        </select>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>